body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

main{
    flex: 1 calc(100vh - 120px);
}

footer {
    flex: 0 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: 2;
    border-color: white;
}

.navbar-brand {
    font-size: 200px;
}

.bg-image{
    background-image: url('FoodPicture.jpg');
    background-size: cover;
    background-position: center;
    /* opacity: .5; */
    /* transform: scaleX(-1); */
}

.container {
    max-width: 300px;
}
